<div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
    <div class="list-group">
        <a *ngFor="let grupoMuscular of listGruposMusculares" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true" (click)="getEjerciciosGrupoMuscular(grupoMuscular?.NOMBRE)">
            <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">{{grupoMuscular.NOMBRE}}</h6>
                    <p class="mb-0 opacity-75">La la la la la...</p>
                </div>
                <small class="opacity-50 text-nowrap">DD/MM/AAAA</small>
            </div>
        </a>
    </div>
</div>

<div *ngIf="listEjerciciosGrupoMuscular !== null" class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
    <div class="list-group">
        <a *ngFor="let ejercicios of listEjerciciosGrupoMuscular" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
            <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">{{ejercicios.EJERCICIO}}</h6>
                    <p class="mb-0 opacity-75">La la la la laaa ...</p>
                </div>
                <small class="opacity-50 text-nowrap">DD/MM/AAAA</small>
            </div>
        </a>
    </div>
</div>